/*****************
VARIABLES
*****************/


/*****************
GENERAL STYLES
*****************/
*{
    box-sizing: border-box;
}

/*****************
BODY BACKGROUND
*****************/
body{
    background-color: #ededef;
}

#bg-circles{
    position: relative;
    #bg-circle-1{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: #a5d7f4;
        position: absolute;
        top: 30px;
        left: 150px;
    }
    #bg-circle-2{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: #62baed;
        position: absolute;
        top: -15px;
        right: 20px;
    }
    #bg-circle-3{
        width: 175px;
        height: 175px;
        border-radius: 50%;
        background-color: #82c5ed;
        position: absolute;
        right: 10px;
        top: 490px;

    }
    #bg-circle-4{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #82c5ed;
        position: absolute;
        top: 290px;
        left: -70px;
    }
}